{% extends 'base.html' %}

{% block content %}
<div class="bg-white border justify-content-center" style="display: flex;margin: 0 auto">

    <section class="w-100 p-4 d-flex justify-content-center pb-4">
        <div style="width: 26rem;">
            <form>
                <h1 class="h3 mb-3 fw-normal">请登录</h1>

                <div class="form-floating">
                    <input class="form-control" id="floatingInput">
                    <label for="floatingInput">QQ号</label>
                </div>
                <p>校验码(五分钟内有效):<code id="floatingPassword">{{checkword}}</code></p>
                <br>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me" id="remember"> Remember me
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="button" id="loginbutton">发送校验码后点击登录</button>
                <p></p>
                <p id="warnings" style="color:red"></p>
                <p class="mt-5 mb-3 text-muted">
                    校验码说明:校验码是用于一次性验证身份的临时凭证。五分钟内在 Bot 所在的群聊或者私聊输入 <code>校验码 <网页显示的校验码></code>后,点击按钮以登录。如果始终无法登录，请先检查<a
                        href="/status">服务器状态</a>,更多关于校验码和登录的问题请阅读<a href="/about#checkword">关于</a></p>
            </form>
        </div>
        <script>
            $("#loginbutton").click(function () {
                var USER = $("#floatingInput").val();
                var CHECKWORD = $("#floatingPassword").html();
                var remember = $("#remember").is(':checked')?1:0;
                $.ajax({
                    url: "/login",
                    dataType: "json",
                    async: true,
                    data: { "user": USER, "checkword": CHECKWORD, "remember": remember },//参数值
                    type: "POST",//请求的方式
                    success: function (data) { $("#warnings").html(data["msg"]) }
                });
            })
        </script>
    </section>
</div>
{% endblock %}